// Post SCSS for the theme.

/*=======================================
 * Frontpage
 ======================================*/

// ACHTUNG!
// What follows is a series of very selective core style overrides that will
// set the main contents area maxwidth to the Boost defaults for the frontpage ONLY.
// This is essentially an override of an override, the latter to be found in `scss/pre.scss` in this theme.
//
// Naturally, this makes things quite brittle.
//
// A note to my future self (or whoever ends up inheriting this mess):
// When updating the theme for the next Moodle version,
// grep the Boost theme for all usages of the `$course-content-maxwidth` variable
// and apply overrides here.
//
// ST [2026/07/02]

// On the frontpage, the max width of the main content area is 1200px.
$frontpage-content-maxwidth: 1200px !default;

@include media-breakpoint-up(md) {
    body.pagelayout-frontpage {
        #page.drawers {
            .main-inner {
                max-width: $frontpage-content-maxwidth;
            }
            .footer-popover {
                max-width: $frontpage-content-maxwidth;
            }
        }
        .header-maxwidth {
            max-width: $frontpage-content-maxwidth;
        }
    }
}

.stickyfooter {
    .sticky-footer-content {
        @include media-breakpoint-up(md) {
            body.pagelayout-frontpage {
                max-width: $frontpage-content-maxwidth;
            }
        }
    }
}

// Styles for the frontend main contents.
.frontpage-main-content {
    color: #616161;

    h1 {
        color: #052049;
    }

    .cta {
        border-width: 2px;
    }

    .troubleshooting {
        color: #616161;

        &:active,
        &:focus,
        &:hover {
            color: $link-color;
        }
    }
}

/*=======================================
 * Common elements
 ======================================*/

/*=======================================
 * Components
 ======================================*/
@import "components/backtotopbutton";

/*=======================================
 * Settings: Functionality -> Courses.
 ======================================*/

/*---------------------------------------
 * Setting: Course related hints.
 --------------------------------------*/

.course-hint-hidden,
.course-hint-guestaccess,
.course-hint-switchedrole {
    margin-left: 15px;
    margin-right: 15px;
}

/*------------------------------------------------------------------------------
 * Setting: Enhance box borders for selected items in the grading rubric.
 -----------------------------------------------------------------------------*/
.gradingform_rubric.evaluate .criterion .levels .level:hover,
.gradingform_rubric.evaluate .criterion .levels .level.checked {
    outline: 2px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-radius: 10px;
}
