// Post SCSS for the theme.

/*=======================================
 * Common elements
 ======================================*/

/*---------------------------------------
 * Headings
 --------------------------------------*/

// Reduce the default font weight for h3-h5
h3, h4, h5 {
  font-weight: 500;
}

/*=======================================
 * Components
 ======================================*/
@import "components/backtotopbutton";
@import "components/helpmenu";

/*=======================================
 * Settings: Functionality -> Courses.
 ======================================*/

/*---------------------------------------
 * Setting: Course related hints.
 --------------------------------------*/

.course-hint-hidden,
.course-hint-guestaccess,
.course-hint-switchedrole {
  margin-left: 15px;
  margin-right: 15px;
}

