// Pre SCSS for the theme.
$cle-blue: #565c80;

/* HEADER */

.site-name {
  color: $cle-blue;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: larger;
  font-weight: 600;
  padding-left: 1rem;
}

/* CUSTOM MENU */

.ucsf_custom_menu {
  .card-block {

    background-color: $cle-blue;
    color: #fff;
    padding: .25rem 0;

    a {
      color: inherit;
    }

    button {
      color: inherit;
    }
  }

  .category_label {
    padding: .425rem 1rem;
    font-weight: bold;
  }

  .navbar-collapse {

    li {
      padding: .25rem 0 .25rem 0;
      text-indent: 1rem;
    }

    li.item:hover {
      background-color: #fff;
      color: $cle-blue;
    }
  }
}

/* FOOTER */

.ucsf_footer_text {
    float: left;
    width: 50%;
    text-align: left;
}

.ucsf_footer_links_container {
  float: left;
  width: 50%;
  text-align: right;

  p {
    text-align: right;
  }
}

@media ( max-width: 560px) {
  .ucsf_footer_text {
      text-align: center;
      width: 100%;
      clear: both;
  }
  .ucsf_footer_links_container {
    clear: both;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    p {
      text-align: center !important;
    }
  }
}
