/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

img.small-logo {
    height: 30px;
    float: left;
    margin: 6px 10px 0 0;
    width: 125px;

}

@media (max-width: 480px) {
    .navbar img.small-logo {
        height: 24px;
        width: 100px;
    }

    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

/** General Styles
-------------------------*/
@font-face {
    font-family: 'FontAwesome';
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
    url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #1e1e1e;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

a {
    color: #116492;
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    color: #116492;
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    color: #052049;
}


h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

hr {
    background-color: #b3becb;
    height: 1px;
    border: none
}

/* Header
-------------------------*/

/* hide navigation in header */
@media (min-width: 980px) {
    .navbar .nav {
        visibility: hidden;
        height: 0;
    }
}

@media (max-width: 979px) {
    /* accesshide header title */
    .navbar .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }

    .navbar .nav > li > a:hover {
        color: #000;
    }

    .navbar .nav li.dropdown > a:hover .caret {
        border-top-color: #000;
        border-bottom-color: #000;
    }

    .navbar .nav-collapse.in {
        background-color: #052049;
    }

    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        color: #fff;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-submenu:hover > a,
    .dropdown-submenu:focus > a {
        background: none;
        color: #000;
        background-color: #ededee !important;
    }


}

.navbar .brand {
    margin-top: 5px;
    font-weight: 600;
    color: #052049;
    text-shadow: none;
    padding: 7px 30px 10px;
}

/* increase size of messages and notification counters in header */
.navbar .count-container {
    font-size: 12px;
    font-weight: bold;
}

.navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
}

/* change caret color to fff */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/* change hover color */
.navbar .nav > li > a:hover {
    color: #ffdd00;
}

/* change caret hover color */
.navbar .nav li.dropdown > a:hover .caret {
    border-top-color: #ffdd00;
    border-bottom-color: #ffdd00;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #ededee;
    color: #052049;
}

/* change caret focus color */
.navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #052049;
    border-bottom-color: #052049;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background: none;
    background-color: #052049 !important;
}


/* user menu */
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    background-color: #178CCB;
    background-image: none;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
    font-weight: 600;
}

/* Custom UCSF Navigation
-------------------------*/

.ucsf-custom-menu {
    background-color: #e4edf4;
    margin-bottom: 10px;
    margin-left: 0;
}

.ucsf-custom-menu .category-label {
    background:none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}

.ucsf-custom-menu .category-label a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.ucsf-custom-menu .container-fluid {
    background-color: #506380;
    padding-left: 0;
}

.ucsf-custom-menu .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

.ucsf-custom-menu .nav > li > a:after {
    content: " ";
}

.ucsf-custom-menu .nav > li > a:first-child {
    padding-left: 10px;
}

.ucsf-custom-menu .nav > li > a:last-child {
    padding-right: 15px;
}

.ucsf-custom-menu .nav > li > a:after {
    content: " | ";
}

.ucsf-custom-menu .nav > li:last-child > a:after {
    content: "";
}

@media (min-width: 980px) {
    .ucsf-custom-menu.navbar .nav {
        visibility: visible;
        height: inherit;
    }
}

@media (max-width: 979px) {
    .ucsf-custom-menu {
        display: none;
    }
}

/*------------------------------------------------------------------------------------*/
/* Breadcrumb */
.breadcrumb {
    background-color: #fff;
    font-weight: bold;
}

/* unlinked breadcrumb items appear grey */
.breadcrumb > li {
    color: #999999;
}

.breadcrumb a {
    color: #506380;
}

/*------------------------------------------------------------------------------------*/
/* Page Context Header */

.page-context-header .page-header-headings {
    margin-bottom: -20px;
    margin-top: 0;
}
.page-context-header .page-header-headings h1 {
    font-size: 21px;
    margin-top: 0;
}

/*------------------------------------------------------------------------------------*/
/* Messaging Interface */
.messaging-area-container .messaging-area .messages-area .messages .message .content.right {
    border: 1px solid #4f94cd;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.left {
    border: 1px solid #ededee;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.right {
    background-color: #4f94cd;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.left {
    background-color: #ededee;
    color: #000;
    font-size: 13px;
    font-weight: 600;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.left .timesent {
    color: #000;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.right .timesent {
    color: #fff;
}

/*------------------------------------------------------------------------------------*/
/* Navigation Block */

/* hide the "My courses" node
 * @link https://github.com/ucsf-ckm/moodle-theme-ucsf/issues/63
 */
.block_navigation .mycourses,
.block_navigation .mycourses + ul {
    display: none;
}

/*------------------------------------------------------------------------------------*/
/* BLOCK */

.block {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    background-color: #f3fafc;
    border: none;
    border-radius: 0 !important;
    font-size: 13px;
    padding: 0;
}

.block .content {
    border: none;
}

.block .header .title h2,
.block h3.main {
    background-color: #506380;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px;
    text-shadow: none;
}

.block a {
    color: #506380;
    font-weight: normal;
}

.block a:hover {
    color: #506380;
    text-decoration: underline;
}

.block .header .block_action {
    padding-top: 3px;
    padding-right: 8px;
}

.block_tree .active_tree_node,
.block_tree .active_tree_node a {
    font-weight: 600;
}

.tree_item span {
    padding-bottom: 10px;
}

.tree_item img {
    margin-top: 4px;
}

.block_tree .collapsed .tree_item.branch,
.block_tree .collapsed .tree_item.emptybranch,
.block_tree .tree_item.emptybranch,
.block_tree .tree_item.branch {
    background-position: 0 3px !important;
}

.block hr {
    border-color: #FFFFFF !important;
    background: #FFFFFF !important;
}

.block .footer {
    text-align: center !important;
}


/*------------------------------------------------------------------------------------*/
/* DOCK */

/* move docked blocks on left margin below custom menu bar */
#dock .dockeditem_container {
    margin-top: 115px;
}

#dock .dockedtitle {
    background: #365376 none;
    color: #fff;
}

#dock .dockedtitle h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-shadow: none;
    color: #FFF;
    font-weight: 600;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#dock .dockedtitle:hover, #dock .dockedtitle:focus {
    background: #365376;
}

#dockeditempanel .dockeditempanel_hd {
    background-color: #365376;
}

#dockeditempanel .dockeditempanel_hd h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-shadow: none;
    background-color: #365376;
    color: #FFF;
    font-weight: 600;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*------------------------------------------------------------------------------------*/
/* COURSE PAGE BLOCKS */

.block_course_overview,
.block_course_overview .block .content,
.block_course_overview .header .title h2 {
    background: none !important;
    border: none !important;
}

.block_course_overview .header .title .block_action {
    display: none;
}

.block_course_overview .header .title h2 {
    color: #365376;
    font-size: 16px;
}

.block_course_overview .coursebox {
    border-radius: 0;
    border: 1px solid #b3becb;
}

.block_course_overview a,
.block_course_overview a:hover {
    color: #365376;
}

.course-content ul li.section.main {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #b3becb;
}

.custom_course_title {
    color: #365376;
    border-top: 1px solid #b3becb;
    border-bottom: 2px solid #b3becb;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 0 11px 0;
}

.coursebox > .info > .coursename,
.coursebox > .info > .coursename a {
    background-position: left 0.25em !important;
}

.course-content .sectionname {
    font-size: 16px !important;
    line-height: 25px;
}

.course-content .section-summary .section-title,
.summary h3 {
    line-height: 25px !important;
}

.course-content .single-section .section-navigation .mdl-left,
.course-content .single-section .section-navigation .mdl-right {
    margin-bottom: 10px;
}

.course-content .single-section .section-navigation .mdl-left a,
.course-content .single-section .section-navigation .mdl-right a {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 10px;
}

.mdl-align {
    margin-top: 35px;
}

.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
    width: 0;
}

.block.list_block .unlist > li > .column {
    /* margin-left: 23px; */
    position: relative;
    padding-left: 23px;
    width: auto;
}

.block.list_block .unlist > li > .column > a > img {
    /* margin-left: -23px;    */
    left: 0;
    top: 3px;
    position: absolute;
}

/*------------------------------------------------------------------------------------*/
/* Dashboard */

/* hide the page context header, @see https://github.com/ucsf-ckm/moodle-theme-ucsf/issues/40 */
body#page-my-index .page-context-header {
    display: none;
}

/*------------------------------------------------------------------------------------*/
/* Course Page */

.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    margin-left: 12px;
    margin-right: 12px;
}

.course-content ul.topics li.section .summary {
    margin-left: 15px;
}

.course-content ul.section {
    margin: 0.7em 0.1em 0.7em 0.1em;
}

.section .activity .mod-indent-outer {
    padding-left: 17px;
}

.section .label .mod-indent-outer {
    display: block;
    padding-left: 15px;
}

.section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 15px;
}

/*------------------------------------------------------------------------------------*/
/* FOOTER */

/* modifies the Last Updated text at bottom of pages */
.modified {
    font-size: 11px;
    padding-top: 25px;
    text-align: center;
}

.main-footer {
    background: #fff;
    color: #365376;
    padding-top: 20px;
}

#page-footer {
    border: none;
    border-top: 1px solid #d4d4d4;
    color: #333;
}

#page-footer a {
    color: #116492;
}

#page-footer a:hover {
    color: #116492;
    text-decoration: underline;
}

.ucsf_footer_text {
    float: left;
    width: 50%;
    text-align: left;
}

.ucsf_footer_links_container {
    float: left;
    width: 50%;
    text-align: right;
}

.ucsf_footer_links_container p {
    text-align: right;
}

.ucsf_footer_link {
    margin-left: 20px;
}

@media ( max-width: 560px) {

    .ucsf_footer_text {
        text-align: center;
        width: 100%;
        clear: both;
    }
    .ucsf_footer_links_container {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .ucsf_footer_links_container p {
        text-align: center !important;
    }
}

/*------------------------------------------------------------------------------------*/
/* ALERTS */

.ucsf-alert.alert {
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 8px 35px 5px 14px;
}

.ucsf-alert .title {
    margin-right: 20px;
    font-weight: bold;
}

.ucsf-alert.alert-info {
    background: #fcf8e3;
    color: #c09853;
}

.ucsf-alert.alert:before {
    font-family: "FontAwesome";
}

.ucsf-alert.alert-success::before {
    content: "\f0a1 ";
    font-size: 20px;
    padding-right: 15px;

}

.ucsf-alert.alert-error::before {
    content: "\f071 ";
    font-size: 20px;
    padding-right: 15px;
}

.ucsf-alert.alert-info::before {
    background-color: #c09853;
    border-radius: 20px;
    color: #fcf8e3;
    content: "\f129 ";
    padding: 3px 7px;
    margin-left: 1px;
    margin-right: 15px;
}


/*------------------------------------------------------------------------------------*/
/* BLOCK WIDTH SETTINGS FOR DIFFERENT LAYOUT SIZES */
/* Large desktop */
@media (min-width: 1200px) {

    #page-course-index .row-fluid .span3,
    #page-mod-quiz-edit .row-fluid .span3,
    #page-mod-quiz-view .row-fluid .span3,
    .jsenabled.used-region-side-post #block-region-side-post.span3,
    .pagelayout-coursecategory .row-fluid .span3,
    .pagelayout-mydashboard .row-fluid .span3,
    .pagelayout-standard .row-fluid .span3,
    .path-course-view .row-fluid .span3,
    .two-column .row-fluid .span3,
    .used-region-side-post #block-region-side-post.span3 {
        width: 210px;
        margin-left: 0;
    }

    #page-course-index #block-region-side-pre.span4,
    #page-mod-quiz-edit #block-region-side-pre.span4,
    #page-mod-quiz-edit .row-fluid .span4,
    #page-mod-quiz-view #block-region-side-pre.span4,
    #page-mod-quiz-view .row-fluid .span4,
    .editing #block-region-side-pre.span4,
    .empty-region-side-post.used-region-side-pre #block-region-side-pre.span4,
    .jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4,
    .jsenabled.used-region-side-pre #block-region-side-pre.span4,
    .pagelayout-coursecategory #block-region-side-pre.span4,
    .pagelayout-coursecategory .row-fluid .span4,
    .pagelayout-mydashboard #block-region-side-pre.span4,
    .pagelayout-mydashboard .row-fluid .span4,
    .pagelayout-standard #block-region-side-pre.span4,
    .pagelayout-standard .row-fluid .span4,
    .path-course-view .row-fluid .span4,
    .path-course-view.used-region-side-pre #block-region-side-pre.span4,
    .used-region-side-pre #block-region-side-pre.span4 {
        width: 210px;
    }

    #page-course-index #region-main.span8,
    #page-mod-quiz-edit #region-main.span8,
    #page-mod-quiz-view #region-main.span8,
    .editing #region-main.span8,
    .empty-region-side-post.used-region-side-pre #region-main.span8,
    .empty-region-side-pre.used-region-side-post #region-main.span8,
    .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8,
    .jsenabled.used-region-side-pre #region-main.span8,
    .pagelayout-coursecategory #region-main.span8,
    .pagelayout-mydashboard #region-main.span8,
    .pagelayout-standard #region-main.span8,
    .path-course-view #region-main.span8,
    .used-region-side-post #region-main.span8,
    .used-region-side-pre #region-main.span8 {
        width: calc(100% - 210px - 20px);
    }

    #page-course-index .row-fluid .span8,
    #page-mod-quiz-edit .row-fluid .span8,
    #page-mod-quiz-view .row-fluid .span8,
    .pagelayout-coursecategory .row-fluid .span8,
    .pagelayout-mydashboard .row-fluid .span8,
    .pagelayout-standard .row-fluid .span8,
    .path-course-view .row-fluid .span8,
    .two-column .row-fluid .span8 {
        width: calc(100% - 210px - 20px);
        padding-right: 20px;
        padding-left: 20px;
    }

    #page-mod-quiz-edit .row-fluid .span9,
    #page-mod-quiz-view .row-fluid .span9,
    .pagelayout-coursecategory .row-fluid .span9,
    .pagelayout-mydashboard .row-fluid .span9,
    .pagelayout-standard .row-fluid .span9,
    .path-course-view .row-fluid .span9,
    .two-column .row-fluid .span9,
    .used-region-side-pre .row-fluid .span9,
    .used-region-side-post .row-fluid .span9 {
        width: calc(100% - 210px - 20px);
        padding-right: 20px;
    }

    #region-main {padding:0 20px;}
}

@media (min-width: 770px) and (max-width: 1199px) {

    #page-course-index .row-fluid .span3,
    #page-mod-quiz-edit .row-fluid .span3,
    #page-mod-quiz-view .row-fluid .span3,
    .jsenabled.used-region-side-post #block-region-side-post.span3,
    .pagelayout-coursecategory .row-fluid .span3,
    .pagelayout-mydashboard .row-fluid .span3,
    .pagelayout-standard .row-fluid .span3,
    .path-course-view .row-fluid .span3,
    .two-column .row-fluid .span3,
    .used-region-side-post #block-region-side-post.span3 {
        width: 185px;
        margin-left: 0;
    }

    #page-course-index #block-region-side-pre.span4,
    #page-course-index .row-fluid .span4,
    #page-mod-quiz-edit #block-region-side-pre.span4,
    #page-mod-quiz-edit .row-fluid .span4,
    #page-mod-quiz-view #block-region-side-pre.span4,
    #page-mod-quiz-view .row-fluid .span4,
    .editing #block-region-side-pre.span4,
    .empty-region-side-post.used-region-side-pre #block-region-side-pre.span4,
    .jsenabled.docked-region-side-post.used-region-side-pre #block-region-side-pre.span4,
    .jsenabled.used-region-side-pre #block-region-side-pre.span4,
    .pagelayout-coursecategory #block-region-side-pre.span4,
    .pagelayout-coursecategory .row-fluid .span4,
    .pagelayout-mydashboard #block-region-side-pre.span4,
    .pagelayout-mydashboard .row-fluid .span4,
    .pagelayout-standard #block-region-side-pre.span4,
    .pagelayout-standard .row-fluid .span4,
    .path-course-view .row-fluid .span4,
    .path-course-view.used-region-side-pre #block-region-side-pre.span4,
    .two-column .row-fluid .span4,
    .used-region-side-pre #block-region-side-pre.span4 {
        width: 185px;
    }

    .pagelayout-frontpage.empty-region-side-post.used-region-side-pre #region-main.span8,
    .pagelayout-frontpage.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
        width: 74%;
        padding: 0;
    }

    #page-course-index #region-main.span8,
    #page-mod-quiz-edit #region-main.span8,
    #page-mod-quiz-view #region-main.span8,
    .editing #region-main.span8,
    .empty-region-side-post.used-region-side-pre #region-main.span8,
    .empty-region-side-pre.used-region-side-post #region-main.span8,
    .jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8,
    .pagelayout-coursecategory #region-main.span8,
    .pagelayout-mydashboard #region-main.span8,
    .pagelayout-standard #region-main.span8,
    .path-course-view #region-main.span8,
    .used-region-side-post #region-main.span8,
    .used-region-side-pre #region-main.span8 {
        width: calc(100% - 185px - 20px);
    }

    #page-course-index .row-fluid .span8,
    #page-mod-quiz-edit .row-fluid .span8,
    #page-mod-quiz-view .row-fluid .span8,
    .pagelayout-coursecategory .row-fluid .span8,
    .pagelayout-mydashboard .row-fluid .span8,
    .pagelayout-standard .row-fluid .span8,
    .path-course-view .row-fluid .span8,
    .two-column .row-fluid .span8 {
        width: calc(100% - 185px - 20px);
        padding-right: 20px;
        padding-left: 20px;
    }

    #page-course-index .row-fluid .span9,
    #page-mod-quiz-edit .row-fluid .span9,
    #page-mod-quiz-view .row-fluid .span9,
    .pagelayout-coursecategory .row-fluid .span9,
    .pagelayout-mydashboard .row-fluid .span9,
    .pagelayout-standard .row-fluid .span9,
    .path-course-view .row-fluid .span9,
    .two-column .row-fluid .span9,
    .used-region-side-pre .row-fluid .span9,
    .used-region-side-post .row-fluid .span9 {
        width: calc(100% - 185px - 20px);
        padding-right: 20px;
    }

    #region-main {padding:0 20px;}
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
