/* ucsf.css*/

/*------------------------------------------------------------------------------------*/
/* GENERAL */

@font-face {
    font-family: 'FontAwesome'; 
    font-weight: normal;
    font-style: normal;
    src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.eot?v=4.0.0');
    src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.eot?#iefix&v=4.0.0') format('embedded-opentype'), 
         url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.woff?v=4.0.0') format('woff'), 
         url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.ttf?v=4.0.0') format('truetype'), 
         url('//netdna.bootstrapcdn.com/font-awesome/4.0.0/fonts/fontawesome-webfont.svg#fontawesomeregular?v=4.0.0') format('svg');
}

body {
    background: url([[pix:theme_ucsf|background]]) no-repeat center top  #FFF; 
    font-family: "Open Sans",sans-serif;
    font-size: 13px; 
    color: #333;
    margin-top: 0px;
    padding-top: 0px!important;
    padding: 0!important;
}

/* styles for when the page size is reduce to fit large custom menus */

@media ( max-width: 1199px ) {
	
	 /* the left block but only on the front page*/

	
	/* the main but only on the front page*/

	#page-site-index .row-fluid .span4 {
    	width: 31.9149% !important;
	}
	
	/* the left block but only on the front page*/

	#page-site-index .row-fluid #block-region-side-pre.span4 {
    	width: 23.4043% !important;
	}
	
}


@media ( max-width: 1105px ) {
	body{
		background: #FFF!important;
	}
    #page {
        padding: 0 10px!important;
    }
    .category-label {
        display: block;
		padding-left: 5px !important;
    }
    .navbar .nav > li {
        background: none!important;
    }
    .navbar-inner {
        padding: 0px 10px 0 10px !important;
    }
    .main-footer {
        padding: 0 10px!important;
    }
	
	 /* the left block but only on the front page*/

	#page-site-index .row-fluid #block-region-side-pre.span4 {
    	width: 23.4043% !important;
	}
	body#page-site-index.has_dock #page {
    	padding-left: 0 !important;
	
	}
	
}

@media ( max-width: 1030px ) {
	
	 /* the left block but only on the front page*/

	/* docked padding fix front page*/

	body#page-site-index.has_dock #page {
    	padding-left: 50px !important;
	
	}
	
	/* ----- Control the width of the blocks -----*/

	/* the main center content area */
	.row-fluid .span8 {
		width: 65.812% !important;
	}

	/* the left block */
	.row-fluid .span4 {
    	width: 31.6239% !important;
	}

	/* the right block */


	.row-fluid .span3 {
    	width: 24.0769% !important;
	}

	/* pre (left) and main */

	.row-fluid .span9 {
    	width: 73% !important;
	}


	/* docked padding fix */

	body.has_dock #page {
    	padding-left: 60px !important;
	
	}

	/* pre (left and main when all right blocks docked */
	
	.empty-region-side-post .row-fluid .span9 {
    	width: 100% !important;
	}
	
	/* main when all blocks docked */
	
	.empty-region-side-pre #region-bs-main-and-pre.span9 #region-main, .jsenabled.docked-region-side-pre #region-bs-main-and-pre.span9 #region-main {
    	width: 100% !important;
	}
	
	/* the main center content area */
	.pagelayout-frontpage .row-fluid .span8 {
		width: 74% !important;
	}
	
	/* the left block but only on the front page*/

	#page-site-index .row-fluid .span4 {
   		width: 31.8% !important;
	}

	/* front page */
	
	.pagelayout-frontpage .container-fluid {
    	max-width: 100% !important;
	}
	
}


@media ( max-width: 1010px) {
	
	body{
		background: #FFF!important;
	}
    #page {
        padding: 0 10px!important;
    }
    .category-label {
        display: block;
		padding-left: 5px !important;
    }
	.navbar .nav {
		margin: 0;
	}
    .navbar .nav > li {
        background: none!important;
    }
	
	.navbar .nav > li > a {
		font-size: 11px !important;
		padding: 10px 7px 10px 7px !important;
	}
    .navbar-inner {
        padding: 0px 8px 0 8px !important;
    }
    .main-footer {
        padding: 0 10px!important;
    }
}

/* end of custom menu fix */

@media ( max-width: 979px) {

	body{
		background: #FFF!important;
	}
    #page {
        padding: 0 10px!important;
    }
    .ucsf-custom-menu {
        background: #e4edf4;
    }
	.category-label-container {
        width: 100%!important;
    }
    .category-label {
        display: block;
        background: url([[pix:theme_ucsf|breadcrumb-arrow-clear]]) no-repeat right!important;
		padding-left: 5px !important;
    }
    .navbar .nav > li {
        background: none!important;
    }	
    .navbar-inner {
        padding: 0px 8px 0 8px !important;
    }
    .main-footer {
        padding: 0 10px!important;
    }
	
	/* ----- Control the width of the blocks -----*/
	
	/* pre (left) and main */
	
	/*.row-fluid .span9 {
    	width: 79% !important;
	}*/
	
	/* pre (left and main when all right blocks docked */
	
	/*.empty-region-side-post .row-fluid .span9 {
    	width: 100% !important;
	}*/
	
	 /* the main but only on the front page*/

	#page-site-index .row-fluid .span4 {
    	width: 31.4911% !important;
	}
	
	/* ----- End of Control the width of the blocks -----*/
}

@media ( max-width: 859px ) {
	.cle-text {
        display: none!important;
    }
}

@media ( max-width: 767px ) {
    #page,
    .container-fluid,
    .main-footer { 
        padding: 0 5px!important;
    }
    .cle-text {
        display: none!important;
    }
    .sectionname {
        line-height: 25px;
    }
    .course-content ul.topics li.section .left,
    .course-content ul.topics li.section .right {
        width: 0px;
    }
	.navbar-inner {
        padding: 0px 5px 0 5px !important;
    }
	
	/* ----- Control the width of the blocks -----*/

	/* the main center content area */
	.row-fluid .span8 {
		width: 100% !important;
	}

	/* the left block */
	.row-fluid .span4 {
    	width: 100% !important;
	}

	/* the right block */


	.row-fluid .span3 {
    	width: 100% !important;
	}

	/* pre (left) and main */

	.row-fluid .span9 {
    	width: 100% !important;
	}
	 /* the main but only on the front page*/
	 
	 /* the main center content area */

	#page-site-index .row-fluid .span4, .pagelayout-frontpage .row-fluid .span8 {
    	width: 100% !important;
	}
	
	/* the left block but only on the front page*/

	#page-site-index .row-fluid #block-region-side-pre.span4 {
    	width: 100% !important;
	}
	
	/* ----- End of Control the width of the blocks -----*/
}

@media ( max-width: 530px ) {
    .navbar-text {
        display: none;
    }
    .navbar-text-responsive {
        display: block!important;
    }
    .logininfo-box {
        margin-top: 5px!important;
        margin-bottom: 5px!important;
        float: right;
    }
    .logininfo-box a {
        margin-left: 0px!important;
    }
    .logininfo-box a:hover {
        background-color: #FFF!important;
    }
}


a {color: #5d93bd; cursor: pointer; }
a:link, a:visited, a:active {text-decoration: none;}
a:hover {color: #5d93bd; text-decoration: underline;}


h1, h2, h3, h4, h5, h6 {
    color: #365376;
}
h1 {font-size: 24px}
h2 {font-size: 21px}
h3 {font-size: 18px}
h4 {font-size: 16px}
h5 {font-size: 14px}
h6 {font-size: 13px}

hr { background-color:#b3becb; height:1px; border:none }

.container-fluid {
    max-width: 1680px;
	padding-left: 0;
	padding-right:0;
}
.pagelayout-frontpage .container-fluid {
    max-width: 940px;
	
}
#page {
    padding: 0 60px;
}

.modified {
	font-size: 11px;
	padding-top: 25px;
	text-align: center;
}


/*------------------------------------------------------------------------------------*/
/* HEADER  */

.cle-text {
    font-size: 17px;
    color: #365376;
    padding-top: 14px;
    font-weight: 600;
}
.logininfo, .pipe-separator, .help-feedback {
	float: left;
}

.logininfo-box {
    float: left;
}
.logininfo-box a {
    background-color: #af8e31;
    padding: 5px 10px;
    margin-top: 9px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
}
.logininfo-box a:hover {
    background-color: #e4edf4;
    color: #af8e31;
    font-weight: 600;
    text-decoration: none;
}
.pipe-separator {
	margin: 0 5px;
}

.ucsf-custom-menu {
    height: 40px;
    background: #e4edf4!important;
    width: 100%;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-inner {
    background: none;
    border: 1px solid #fff;
    box-shadow: none;
	padding: 0 60px 0 60px;
}
.navbar-text {
    margin-top: 4px;
	font-size: 11px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 10px;
}
.category-label-container {
    width: auto;
    background: #cbdcea;
}
.menu-background {    
    width: 100%;
    background: url([[pix:theme_ucsf|menu-background]]) no-repeat left top #e4edf4; 
}
.menu-background-cleen {
    background-image: none;
    background: #e4edf4;
}

/*------------------------------------------------------------------------------------*/
/* CUSTOM MENU */

.category-label {
    font-size: 11px;
	font-weight: bold;
    min-height: 40px;
    padding-right: 20px;
	color: #365376;
    background: url([[pix:theme_ucsf|breadcrumb-arrow]]) no-repeat right; 
}
.category-label-image {
    float: left;
    margin-right: 10px;
}
.category-label-text {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}
.category-label a { 
    color: #365376;
}
.nav-collapse .dropdown-menu a:hover, 
.nav-collapse .dropdown-menu a:focus, 
.nav-collapse .dropdown-submenu a:focus, 
.nav-collapse .dropdown-submenu a:hover, 
.nav-collapse .dropdown-submenu a:active, 
.nav-collapse .dropdown-menu > li > a:hover, 
.nav-collapse .dropdown-menu > li > a:focus {
    color: #fff;
}
.navbar-text-responsive {
    display: none;
    margin-left: 15px;
}


/*------------------------------------------------------------------------------------*/
/* ALERTS */


.alert-info {
	background:#fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}
.alert {
	border-radius: 0px;
	border: none;
    margin-bottom: 10px;
    padding: 8px 35px 5px 14px;
}
.alert .title {
    margin-right: 20px;
}

.alert-success::before {
    font-family: "FontAwesome";
    content: "\f0a1 ";
    padding-right: 15px;
    font-size: 20px;
}
.alert-error::before {
    font-family: "FontAwesome";
    content: "\f071 ";
    padding-right: 15px;
    font-size: 20px;
}
.alert-info::before {
    font-family: "FontAwesome";
    padding:3px;
    content: "\f129 ";
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 15px;
    margin-left: 1px;    
    color: #fcf8e3;
    background-color: #c09853;
    border-radius: 20px;
}

.alerts {
    margin-top: 20px;*/
    margin-bottom: 20px;
}


/*------------------------------------------------------------------------------------*/
/* TILES & BANNER */

.tile {
    background-color: #fff;    
    padding: 0px ;
    text-align: left;    
}
.tile-border {
    border-color: #0070a8;
    border-style: solid;
    border-width: 1px;
    min-height: 210px!important;
    margin-bottom: 20px;
}
.tile-image-container {
    margin: 1px;
}
.tile-image, 
.banner-image {
    width: 100%;
}
.banner-image-container {
    width: 100%;
}
.banner {
    margin-bottom: 20px;
}
.link-button {
        margin-top: 5px!important;
        margin-bottom: 5px!important;
        height: 28px;
        background: url([[pix:theme_ucsf|buttonBg]]) no-repeat left #5e95bd !important;
        color: #FFFFFF;
        padding: 5px 15px 5px 25px;
}
.link-button a {
    margin-left: 0px!important;
    background: url([[pix:theme_ucsf|buttonBg]]) no-repeat left #5e95bd !important;
    color: #FFFFFF;
}
.link-button:hover {
    background: url([[pix:theme_ucsf|buttonBg]]) no-repeat left #af8e31 !important;
    color: #FFFFFF !important;
}

/*------------------------------------------------------------------------------------*/
/* BREADCRUMB NAVBAR */

.breadcrumb {
    background-color: #FFF;
    font-size: 11px !important;
}
.iconhome {
	margin-right: 10px;
}
.breadcrumb > li a {
    color: #365376;
    font-size: 11px;
}
.navbar .nav > li {
    background: url([[pix:theme_ucsf|menu-separator]]) no-repeat top right; 
}
.navbar-text {
    background: none!important;
}
.topmenu_user {
    font-weight: 600;
    float: left;
    margin-right: 10px;
}
.navbar .nav > li > a {
    padding: 10px 10px;
	font-size: 11px;
}

/*------------------------------------------------------------------------------------*/
/* MENU */

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
    background: none;
    background-color: #365376!important;
}


/*------------------------------------------------------------------------------------*/
/* BLOCK */
.block .content {
    border:none;
}
.block {
    font-size: 13px;    
    background-color:#f3f3f4;
    border: none;
    padding:0px;
    -webkit-border-radius:0px!important;
    -moz-border-radius:0px!important;
    border-radius:0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
.block .header .title h2, .block h3.main {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-shadow: none;
    background-color:#365376;
    color:#FFF;
    font-weight: 600;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px 15px;
}
.block a{
    color:#5d93bd;
    font-weight:normal;
}
.block a:hover {
    color: #5d93bd;
    text-decoration:underline;
}
.block .header .block_action {
    padding-top: 3px;
    padding-right: 8px;
}
.block_tree .active_tree_node, 
.block_tree .active_tree_node a {
    font-weight: 600;
}
.tree_item span {
    padding-bottom: 10px;
}
.tree_item img {
    margin-top: 4px;
}
.block_tree .collapsed .tree_item.branch,
.block_tree .collapsed .tree_item.emptybranch,
.block_tree .tree_item.emptybranch,
.block_tree .tree_item.branch {
    background-position: 0 3px!important;
}

.block hr {
    border-color: #FFFFFF !important;
	background: #FFFFFF !important;
}

.block .footer {
    text-align: center!important;
}

/* ----- Control the width of the blocks -----*/

/* the main center content area */
.row-fluid .span8 {
	width: 70.812%;
}

/* the left block */
.row-fluid .span4 {
    width: 26.6239%;
}

/* the right block */


.row-fluid .span3 {
    width: 18.0769%;
}

/* pre (left) and main */

.row-fluid .span9 {
    width: 79.359%;
}

/* the left block but only on the front page*/

#page-site-index .row-fluid .span4 {
    width: 31.5329%;
}

/* docked padding fix */

body.has_dock #page {
    padding-left: 60px !important;
	
}

/* docked padding fix front page*/

body#page-site-index.has_dock #page {
    padding-left: 0;
	
}




/*------------------------------------------------------------------------------------*/
/* COURSE PAGE BLOCKS */

.block_course_overview, 
.block_course_overview .block .content,
.block_course_overview .header .title h2  {
    background: none!important;
    border: none!important;
}
.block_course_overview .header .title .block_action {
    display: none;
}
.block_course_overview .header .title h2 {
    color: #365376;
    font-size: 16px;
 }
.block_course_overview .coursebox {
    border-radius: 0px;
    border:1px solid #b3becb;
}
.block_course_overview a,
.block_course_overview a:hover {
    color: #365376;
}
.course-content ul li.section.main {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #b3becb;
}

.custom_course_title {
    color: #365376;
    border-top: 1px solid #b3becb;
    border-bottom: 2px solid #b3becb;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 0 11px 0;
}
.coursebox > .info > .coursename,
.coursebox > .info > .coursename a {
    background-position: left 0.25em!important;
}
.course-content .sectionname {
    font-size: 16px!important;
    line-height: 25px;
}
.course-content .section-summary .section-title,
.summary h3{
    line-height: 25px!important;
}
.course-content .single-section .section-navigation .mdl-left,
.course-content .single-section .section-navigation .mdl-right {
    margin-bottom: 10px;
}
.course-content .single-section .section-navigation .mdl-left a, 
.course-content .single-section .section-navigation .mdl-right a {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 10px;
}
.mdl-align {
    margin-top: 35px;
}
.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
    width: 0px;
}
.block.list_block .unlist > li > .column {
    margin-left: 23px;
}

.block.list_block .unlist > li > .column a img {
    margin-left: -23px;   
}

/*------------------------------------------------------------------------------------*/
/* Course Page */

.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    margin-left: 12px;
    margin-right: 12px;
}

.course-content ul.topics li.section .summary {
    margin-left: 15px;
}

.course-content ul.section {
    margin: 0.7em 0.1em 0.7em 0.1em;
}

.section .activity .mod-indent-outer {
    padding-left: 17px;
}

.section .label .mod-indent-outer {
    display: block;
    padding-left: 15px;
}

.section .label .contentwithoutlink, .section .label .activityinstance {
    padding-right: 15px;
}

/*------------------------------------------------------------------------------------*/
/* FOOTER */

#page-footer {
    background:none;
    padding: 10px!important;
    border: none;
    color: #365376;
}
#page-footer a{
    color: #5d93bd
}
#page-footer a:hover{
    color: #5d93bd;
    text-decoration: underline;
}
.main-footer {
    background: #e4edf4;
    color: #365376;
    padding: 0 30px;
}
#page-footer .logininfo {
    color: #365376;
}
.ucsf_footer_text {
    float: left;
    width: 50%;
    height: 50px;
    text-align: left;
}
.ucsf_footer_links_container {
    float: left;
    width: 50%;
    height: 50px;
    text-align: right;
}
.ucsf_footer_link {
    margin-left:20px; 
}
.ucsf_logininfo {
    margin-top: 20px;
    float: right;
}


/*------------------------------------------------------------------------------------*/
/* COLUMNS*/

@media(max-width:767px) {
    .empty-region-side-post.used-region-side-pre #block-region-side-pre.span4 {
        width: 100%;
    }
    .empty-region-side-post.used-region-side-pre #region-main.span8 {
        width: 100%;
    }   
    #region-main {
        padding:5px;
        padding-bottom:0px;
    }
}


/*------------------------------------------------------------------------------------*/
/* DOCK */

#dock .dockeditem_container {
    margin-top: 85px;
}

#dock {
    padding-top: 45px;
}
#dock .controls {
    bottom: 60px;
}
#dock .dockedtitle {
    background-image: none;
    background-color: #365376;
    color: #fff
}
#dock .dockedtitle h2 {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-shadow: none;
    color:#FFF;
    font-weight: 600;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 5px;
}
#dock .dockedtitle:hover, #dock .dockedtitle:focus {
    background: #365376;
}
#dockeditempanel .dockeditempanel_hd {
    background-color:#365376;
}
#dockeditempanel .dockeditempanel_hd h2{
font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-shadow: none;
    background-color:#365376;
    color:#FFF;
    font-weight: 600;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/*------------------------------------------------------------------------------------*/
/* ILIOS */

#ilios_block_link {
    display: none;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}
#ilios_block_link a{
    padding-left: 5px;
}
#ilios_block {
    display: block;
}

#ilios_block body {
	padding: 0;
	margin: 5px 0 0 0;
}

@media ( max-width: 400px ) {
    #ilios_block {
        display: none!important;
    }
    #ilios_block_link {
        display: block!important;
    }
}


/*------------------------------------------------------------------------------------*/
/* PAGE REDIRECTS */

.pagelayout-redirect #page {
    padding: 0!important;
    height: 100px;
    background-color: #e4edf4;
}
.pagelayout-redirect .alert-info {
    background-color: #365376!important;
    color: #FFF!important;
    padding-left: 60px
}
.pagelayout-redirect .alert-info:before {
    display: none;
}

/*------------------------------------------------------------------------------------*/
/* QUIZ */

.que .formulation, .que .outcome, .que .comment {
    color: #000000;
}
