/*---------------------------------------
 * Setting: Back to top button.
 * Copied and adjusted from Boost Union theme.
 * @see https://github.com/moodle-an-hochschulen/moodle-theme_boost_union
 --------------------------------------*/

#back-to-top {
    /* Hide the back to top icon initially. It will be unhidden by JS only. */
    display: none;
    /* Place the back to top button at a fixed place. */
    position: fixed;
    right: 2rem;
    /* As a start, the back to top button is shown in the bottom right corner. */
    bottom: 5rem;
    /* Make sure that the back to top button is not covered by anything else. */
    z-index: $zindex-dropdown;
    /* Animate position together with footer button. */
    @include transition(0.2s);
}
/* If the sticky footer is shown by Moodle core, the back to top button has to have a higher starting position. */
body.hasstickyfooter #back-to-top {
    bottom: 10rem;
}
#back-to-top i::before {
    /* Move the caret icon slightly up for a nicer look. */
    vertical-align: 0.3rem;
}

/* If the communications button is shown, the back to top button has to be moved more upwards.
   To realize this, our back-to-top JS has added a class to the body tag. */
body.theme-ucsf-commincourse {
    /* If we are on a small screen,
       we do not need to do anything (yet) as the communication button is not shown on small screens (yet). */

    /* We have to move the back to top button even more upwards.*/
    @include media-breakpoint-up(sm) {
        #back-to-top {
            bottom: 8rem;
        }
    }

    /* And if the sticky footer is shown by Moodle core, move the back to top button more upwards. */
    body.hasstickyfooter {
        @include media-breakpoint-up(sm) {
            #back-to-top {
                bottom: 13rem;
            }
        }
    }
}

/* If the right-hand drawer is opened. */
#page.drawers.show-drawer-right #back-to-top {
    /* On larger screens, the drawer opens near the main content.
       The back to top button can be moved nicely to the left. */
    @include media-breakpoint-up(lg) {
        /* Move the back to top button when right drawer is shown. */
        right: calc(#{$drawer-right-width} + 2rem);
    }
    /* On smaller screens, the drawer opens as an overlay over the main content.
       The back to top button looks misplaced then. */
    @include media-breakpoint-down(lg) {
        /* Hide the back to top button when right drawer is shown. */
        display: none;
    }
}

