.ucsf-banner-nav {
  background-color: $ucsf-brand-primary-color;
  font-family: $ucsf-brand-fonts;
  min-height: $ucsf-navbar-height;
  overflow: hidden;

  .container {
    padding-left: 15px;
    padding-right: 15px;

    ul.menu {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: inline-block;
        float: right;
        font-size: 14px;
        padding: 12px 10px 12px;

        &.first {
          background-image: url([[pix:theme|ucsf-logo-banner]]);
          background-position: 0 35%;
          background-position-x: 0;
          background-position-y: 35%;
          background-repeat: no-repeat;
          float: left;
          padding: 12px 0 12px 58px;
        }

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .ucsf-banner-nav .container ul.menu li {
    display: none;

    &.first {
      display: inline-block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}