/* ALERTS */

.custom-alerts {

    .alert {
        border-radius: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .alert:before {
        font-family: "FontAwesome";
    }

    .alert-success::before {
        content: "\f0a1 ";
        font-size: 20px;
        padding-right: 15px;
    }

    .alert-error {
        background-color: #f2dede;
        border-color: #eed3d7;
        color: #b94a48;
    }

    .alert-error::before {
        content: "\f071 ";
        font-size: 20px;
        padding-right: 15px;
    }

    .alert-info::before {
        content: "\f05a ";
        font-size: 20px;
        padding-right: 15px;
    }

    .close {
        padding: 4px .75rem;
    }
}
