/* CUSTOM MENU */

.ucsf_custom_menu {
    .card-block {

        background-color: #3b6c8c;
        color: #fff;
        padding: .25rem 0;

        a {
            color: inherit;
        }

        button {
            color: inherit;
        }
    }

    .category_label {
        padding: .425rem 1rem;
        font-weight: bold;
    }

    /* modifies category label in custom menu - removes border and hover underline when linked */
    .category_label.pull-left a {
        border: 0;
        text-decoration: none;
        font-weight: 600;
        font-size: .95rem;
        padding-left: 0;
        padding-right: .1rem;
    }

    /* modifies category label in custom menu - set to same size and weight as when linked */
    .category_label.pull-left {
        font-weight: 600;
        font-size: .95rem;
        padding-right: 2.1rem;
        padding-left: 0;
    }

    .navbar-collapse {

        li {
            padding: .25rem 0 .25rem 0;
            text-indent: 1rem;
        }

        li.item:hover {
            background-color: #fff;
            color: #565c80;
        }
    }

    /* adds extra spacing between custom menu links */
    .navbar-nav .nav-link {
        padding-right: 1.1rem;
    }

    /** left-align mobile nav hamburger */
    .navbar-toggler {
        text-align: left;
    }

    /* modifies custom menu link color */
    a.nav-item.nav-link:active {
        color: #fff;
    }

    a.nav-item.nav-link:hover {
        color: #fd0;
    }

    /* modifies custom menu dropdown link color */
    a.dropdown-toggle.nav-link:active {
        color: #fff;
    }

    a.dropdown-toggle.nav-link:focus,
    a.dropdown-toggle.nav-link:hover {
        color: #fd0;
    }

    /* dropdown item link color */
    a.dropdown-item:active {
        color: #fff;
    }
}
