{{# custommenu }}
    <div class="ucsf_custom_menu row p-t-1">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <nav class="nav navbar-nav hidden-md-down">
                        <!-- categorylabel -->
                        {{{ categorylabel }}}
                        <!-- custommenu -->
                        {{{ custommenu }}}
                    </nav>
                    <nav class="nav navbar-nav hidden-lg-up">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon fa fa-bars fa-fw " aria-hidden="true" aria-label=""></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            {{# custommenumobile }}
                                <ul class="list-unstyled p-t-1">
                                    {{> theme_boost/custom_menu_footer }}
                                </ul>
                            {{/ custommenumobile }}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{/ custommenu }}
