<div class="alerts">
    {{#alerts}}
        <div class="alert alert-block alert-{{type}} ucsf-alert" role="alert" data-ucsf-alert-id="alert{{id}}"
             data-ucsf-target-url="{{url}}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="title">{{title}}</span>
            {{text}}
        </div>
    {{/alerts}}
</div>
