{{#children}}
    {{^divider}}
        {{#url}}
            <li class="item"><a href="{{{url}}}" title="{{{title}}}">{{{text}}}</a></li>
        {{/url}}
        {{^url}}
            <li class="item">{{{text}}}</li>
        {{/url}}
    {{/divider}}
    {{#haschildren}}
        <li>
            <ul class="list-unstyled p-l-1">
                {{> theme_ucsf/custom_menu_mobile }}
            </ul>
        </li>
    {{/haschildren}}
{{/children}}
