{{!
    @template theme_ucsf/helpmenu_popover

    This template will render the helpmenu popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * title The helpmenu's title
    * items The helpmenu items

    Example context (json):
    {
        "title: "Help/Feedback",
        "items": [
            { "title": "FAQ": "url": "https://learningtech.library.ucsf.edu/-/faq/" },
            { "title": "Help Guides": "url": "https://learningtech.library.ucsf.edu/-/" },
        ]
    }

}}
{{< core/popover_region }}
{{$classes}}popover-region-helpmenu{{/classes}}
{{$attributes}}id="nav-helpmenu-popover-container"{{/attributes}}

{{$togglelabel}}{{#str}} showhelpmenuwindow, theme_ucsf {{/str}}{{/togglelabel}}
{{$togglecontent}}
{{#pix}} e/help, core, {{#str}} togglehelpmenu, theme_ucsf {{/str}} {{/pix}}
{{/togglecontent}}

{{$containerlabel}}{{#str}} helpmenuwindow, theme_ucsf {{/str}}{{/containerlabel}}

{{$headertext}}{{title}}{{/headertext}}

{{$content}}
<div class="helpmenu" data-region="helpmenu" role="log" aria-busy="false" aria-atomic="false" aria-relevant="additions">
  <ul role="menu">
    {{#items}}
      <li role="presentation">
        <a href="{{url}}" target="{{options.target}}{{^options.target}}_self{{/options.target}}" title="{{title}}">
          {{title}}{{^title}}{{url}}{{/title}}
        </a>
      </li>
    {{/items}}
  </ul>
</div>
{{/content}}
{{/ core/popover_region }}
{{#js}}
  require(['jquery', 'theme_ucsf/helpmenu_popover_controller'], function($, controller) {
  var container = $('#nav-helpmenu-popover-container');
  var controller = new controller(container);
  controller.registerEventListeners();
  controller.registerListNavigationEventListeners();
  });
{{/js}}
