{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ucsf/ucsf-footer

    UCSF footer layout template.
}}
<div class="ucsf-footer py-3">
    <div class="container-fluid">
            <div class="float-lg-left">
                Collaborative Learning Environment<br>
                UCSF Library / University of California, San Francisco
            </div>
            <div class="float-lg-right">
                <a href="https://courses.ucsf.edu/local/staticpage/view.php?page=privacy" title="Privacy">Privacy</a> |
                <a href="https://courses.ucsf.edu/local/staticpage/view.php?page=copyright" title="Copyright">Copyright</a> |
                <a href="https://digitalaccess.ucsf.edu" title="Accessibility" target="_blank">Accessibility</a> |
                <a href="https://sds.ucsf.edu" title="UCSF Student Disability Services" target="_blank">Disability</a> |
                <a href="https://www.library.ucsf.edu/ask-an-expert/learning-tech-contact/" title="CLE Contact" target="_blank">Contact</a><br>
                {{! @todo use variable with calculated value (the current year) for copyright year instead of hard-wiring it [ST 2022/11/07] }}
                &copy; 2022 UC Regents
            </div>
    </div>
</div>